@import url(./bootstrap-grid.css);
@import url(./reset.css);

* {
    font-family: inherit;
}

body {
    font-family: "Play", sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.header {

    background-image: url(../index_pics/header/bgk.jpg);
    width: 100%;
    height: 748px;
    padding: 0px;
    align-items: center;


}

.header_inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_item {
    display: flex;
    padding: 25px;
    gap: 50px;
    margin: 10px 0 10px 10px;

}

.navigation_item li {
    font-size: 16px;
}

.navigation_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* transition: 0.3s; */

}

.navigation_link:hover {
    border-bottom: 1px solid #0f000eac;
    /* transition: 0.3s; */
}

.btm {
    width: 112px;
    height: 34px;
    background: none;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    border: 1px solid #5C17CD;
    transition: 0.1s ease;

}

.btm:hover {
    background-color: #5C17CD;
    transition: 0.1s ease;
}

.header_inf_block {
    display: flex;
    gap: 115px;
    padding-top: 100px;
}

.header_main_text {
    font-size: 48px;
    color: white;
    width: 442px;
    font-weight: bold;
}

.small_navigation {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 77px;
    margin-left: 196px;

}

.header_small_text {
    color: white;
    font-size: 17px;
    width: 240px;

}

.header_nav_btm {
    width: 240px;
    text-transform: uppercase;
    font-size: 18px;
    height: 48px;
    border-radius: 4px;
    border: 0;
    transition: 0.1s ease;

    color: white;
    background-color: #386DF4;
}

.header_nav_btm:hover {
    background: none;
    border: 1px solid #386DF4;
    transition: 0.1s ease;
}


.header_img {
    width: 716px;
    height: 465px;
}

.pc_image {
    width: 100%;
}

/* SERVIES */

.servies_text_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servies_main_text {
    width: 442px;
    font-size: 48px;
    padding-top: 80px;
    font-weight: bold;
    color: #1B1C1F;
}

.serviess_small_text {
    font-size: 16px;
    width: 646px;
    color: #282828;
    line-height: 1.4;
    padding-bottom: 50px;
}

.card_serv_block {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.servies_card {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 434px;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    background-color: #FFFFFF;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
    background: white;
    /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Параметры тени */
    padding: 10px;
}

.card_text {
    display: flex;
    color: #333333;
    flex-direction: column;
    gap: 20px;
    padding: 0 45px 0 45px 0;
}

.card_text h1 {
    font-size: 20px;
    text-align: start;
}

.card_small_text {
    font-size: 16px;
    width: 280px;
    color: rgb(102 102 102);
}

.servieses {
    padding-bottom: 120px;
}

.app_main_text {
    font-size: 48px;
    width: 687px;
    font-weight: bold;
}

.promo_list {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list_item span {
    font-size: 18px;
    margin-left: 10px;
    color: rgb(102 102 102);
    ;
}

.app {
    width: 1600px;
    height: 425px;
    background-position: right;
    background-repeat: no-repeat;
   background-image: url(../index_pics/app_section_gb.svg);
}

.dowland_navigation {
    display: flex;
    gap: 10px;
    padding-top: 40px;
}