@media (max-width: 1385px) {
    .rate_card {
        /* width: 290px; */
    }



    .servies_card {
        width: 350px;
        height: 380px;
    }

    .adaptive {
        width: 719px;
        height: 220px;
        display: flex;
        flex-direction: row;
    }





}

@media (max-width: 1219px) {

    .navigation_icon {
        justify-content: center;
    }

    .read_cards {
        flex-wrap: wrap;
    }

    .choode_rate_cards {
        flex-wrap: wrap;
    }

}

@media (max-width: 1178px) {
    .small_navigation {
        display: none;
    }

    .header_img {
        margin-left: auto;
        margin-right: auto;
    }

    .header_inf_block {
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }

    .gg {
        display: block;
    }



}


@media (max-width: 990px) {
    .adaptive {
        width: 350px;
        height: 380px;
        display: flex;
        flex-direction: column;
    }

    .footer_form {
        display: none;
    }

    .foot_inf {

        justify-content: space-between;
    }

}

@media (max-width: 765px) {

    .serviess_small_text {
       display: none;
    }

    .app_main_text {
        font-size: 24px;
        width: 400px;
    }

    .serviess_small_text {

        width: 570px;
    }
}

@media (max-width: 685px) {
    .hidden {
        display: none;
    }

    .burger_menu {
        display: block;
    }

    .header_inf_block {
        padding-top: 30px;
    }

    .header_main_text {
        padding-bottom: 30px;
    }

    .foot_inf {
        justify-content: center;
        gap: 23px;
    }

    .header_img {
        width: 450px;
    }
}



@media (max-width: 414px) {
    .header_main_text {
        font-size: 24px;
        width: 266px;
    }

    .servies_main_text {
        font-size: 24px;
        width: 266px;

    }




        .header_inf {
            justify-content: space-around;
        }

        .pc_image {
            width: 94%;
        }
    }